/*@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html,body{
	color: antiquewhite;
	background-color: #202020;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
	margin: 0px;
	padding: 0px;
}
body a{
	color: antiquewhite;
	text-decoration: none;
}

.div{
	margin-left: 150px;

}
.div h1{
	text-align: center;
    margin-top: 30%;
    background: transparent;
    font-size: 80px;
    animation: fadeIn 2s ease;
}
.div .main .links{
    text-align: center;
}
.div .main .links a{
    font-size: 24px;
    padding: 10px;
    background-color: #a1eba0;
    color: #202020;
    border-radius: 15px;
}

.div .sidebar{
    background: #a1eba0;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.div .sidebar .logo{
    margin-bottom: 30px;
    text-align: center;
    color: #202020;
}

.div .sidebar .logo a{
    text-align: left;
    font-display: swap;
    color: #202020;
    font-size: 24px;
    text-decoration: underline;

}
.div .sidebar .logo a:hover{
    text-align: left;
    color: #ffffff;
    font-size: 27px;

}

.div .sidebar .logo img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.div .sidebar li{
    margin-top: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



