@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

html,body{
	color: antiquewhite;
	background-color: #202020;
	margin: 0px;
	padding: 0px;
	font-family: 'Sigmar';
	
}
body a{
	color: antiquewhite;
	text-decoration: none;
}

.div{
  	margin: auto;
  	width: 50%;
  	padding: 10px;
}
